.member-page *,
.member-page ::before,
.member-page ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.member-page h1,
.member-page h2,
.member-page h3,
.member-page h4,
.member-page h5,
.member-page h6 {
  font-size: inherit;
  font-weight: inherit;
}

.member-page a {
  color: inherit;
  text-decoration: inherit;
}

.member-page ol,
.member-page ul,
.member-page menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member-page p,
.member-page h1,
.member-page h2,
.member-page h3,
.member-page h4,
.member-page h5,
.member-page h6 {
  margin: 0;
}

.member-page img {
  display: block;
  max-width: 100%;
  height: auto;
}
